<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Login</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please login to proceed.</p>
                <div class="box">
                    <%= form_for(:user, :url => session_path(:user)) do |f| %>
                        <div class="field">
                            <div class="control">
                                <%= f.text_field :email, class: "input is-large", placeholder: "johnAquino@gmail.com" %>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                            <%= f.password_field :password, class: "input is-large" %>
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <%= f.check_box :remember_me %> Remember Me
                              </label>
                        </div>
                        <%= f.submit 'Sign in', class: "button is-block is-info is-large is-fullwidth"  %>

                        <% end %>

                </div>
                <p class="has-text-grey">
                    <%= link_to "Forgot your password?", new_password_path(:user) %>
                </p>
            </div>
        </div>
    </div>
</section>
<style>

.hero.is-success {
  background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.login-hr{
  border-bottom: 1px solid black;
}

.has-text-black{
  color: black;
}

.field{
  padding-bottom: 10px;
}

.fa{
  margin-left: 5px;
}
</style>